NEXT_PUBLIC_API_HOSTNAME=api
NEXT_PUBLIC_API_PORT=9000
NEXT_PUBLIC_WEB_HOSTNAME=web
NEXT_PUBLIC_WEB_PORT=3000
NEXT_PUBLIC_MINIO_HOSTNAME=minio
NEXT_PUBLIC_MINIO_PORT=9000

NEXT_PUBLIC_HTTP_PROTOCOL=http
NEXT_PUBLIC_REFRESH_INTERVAL=60000
